<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{480,486}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,212},{480,486}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>bg-levels.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{466,606}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,90},{466,606}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>board-border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,628}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{480,628}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,952},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{442,224}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,77},{442,224}}</string>
                <key>sourceSize</key>
                <string>{480,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>board_and_levels.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6414ec9d8da46493cca1d57284cb6a0c:64767a1067854abcffa8329441353ee3:8c8eca1435b06c8802a449528e20b2cd$</string>
            <key>textureFileName</key>
            <string>board_and_levels.png</string>
        </dict>
    </dict>
</plist>
