<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>bg-play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>backgrounds.jpg</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2fe0845c5cf70a0389b8ee523b0ce6:8f3dedc0d302dd7e353653c71ad2057a:683274ee0f93b4d2dfccaa1b85585f04$</string>
            <key>textureFileName</key>
            <string>backgrounds.jpg</string>
        </dict>
    </dict>
</plist>
