<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{217,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{217,88}}</string>
                <key>sourceSize</key>
                <string>{225,88}</string>
            </dict>
            <key>button-easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{293,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,85}}</string>
                <key>sourceSize</key>
                <string>{293,85}</string>
            </dict>
            <key>button-hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{293,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,85}}</string>
                <key>sourceSize</key>
                <string>{293,85}</string>
            </dict>
            <key>button-next.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{215,89}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{215,89}}</string>
                <key>sourceSize</key>
                <string>{225,89}</string>
            </dict>
            <key>button-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,85}}</string>
                <key>sourceSize</key>
                <string>{293,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8483d57e70e3f257a3df697e2ee288f:09b3f45638e1eb7ce118e9d038b95be7:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
