<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{217,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{217,88}}</string>
                <key>sourceSize</key>
                <string>{225,88}</string>
            </dict>
            <key>button-easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{296,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,88}}</string>
                <key>sourceSize</key>
                <string>{300,88}</string>
            </dict>
            <key>button-hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{296,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,88}}</string>
                <key>sourceSize</key>
                <string>{300,88}</string>
            </dict>
            <key>button-next.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,221},{215,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{215,88}}</string>
                <key>sourceSize</key>
                <string>{225,88}</string>
            </dict>
            <key>button-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,88}}</string>
                <key>sourceSize</key>
                <string>{300,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-c.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c7b32165292bdc7f624745e5c349a58:36279a405131d7ce37672d27b0498657:0354d34abff2104e80eb86295883e438$</string>
            <key>textureFileName</key>
            <string>buttons-c.png</string>
        </dict>
    </dict>
</plist>
