<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,144},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_sound_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,52},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>button_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>button_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,52},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{18,18}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>heart-grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>heart-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,100},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>misc.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7e6eade70d061d2c26777b02831efb5:9687252d6447852faab70b88f91a6421:cab1e9b820256652e8f1a6751ae38988$</string>
            <key>textureFileName</key>
            <string>misc.png</string>
        </dict>
    </dict>
</plist>
